[submodule "backend"]
	path = backend
	url = https://github.com/alemalvarez/data-analysis-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/alemalvarez/data-analisys-frontend.git
